In [42]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from glob import glob
import os

In [43]:
seoul=pd.read_csv('../data/소상공인/소상공인시장진흥공단_상가(상권)정보_서울_202203.csv')
seoul

,상가업소번호,상호명,지점명,상권업종대분류코드,상권업종대분류명,상권업종중분류코드,상권업종중분류명,상권업종소분류코드,상권업종소분류명,표준산업분류코드,...,건물관리번호,건물명,도로명주소,구우편번호,신우편번호,동정보,층정보,호정보,경도,위도
0,23324279,제중건강원,NaN,D,소매,D10,건강/미용식품,D10A07,건강원,G47216,...,1156010600100410002034626,NaN,서울특별시 영등포구 영중로14길 11-17,150035,7250.0,NaN,1,NaN,126.907168,37.520613
1,24525909,민속악기사,NaN,D,소매,D04,취미/오락관련소매,D04A09,악기판매,G47593,...,1120012200101420011000227,NaN,서울특별시 성동구 용답5길 2,133849,4803.0,NaN,NaN,NaN,127.049018,37.566857
2,24715368,태평양진주,NaN,D,소매,D26,시계/귀금속소매,D26A01,시계/귀금속,G47830,...,1111015200100440000000001,금사랑투빌딩,서울특별시 종로구 서순라길 17-10,110390,3138.0,NaN,NaN,NaN,126.993530,37.571848
3,15554136,김선희꼼꼼국어교습소,NaN,R,학문/교육,R01,학원-보습교습입시,R01A01,학원-입시,P85501,...,1171011100101970003017195,NaN,서울특별시 송파구 위례성대로12길 31,138834,5640.0,NaN,2,NaN,127.121520,37.510967
4,17174175,비지트,NaN,Q,음식,Q01,한식,Q01A01,한식/백반/한정식,I56111,...,1165010100108540018009586,상랑의빌딩,서울특별시 서초구 동광로18길 82,137837,6572.0,NaN,1,NaN,126.991394,37.488375
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
330822,9032765,글로리아진스커피,NaN,Q,음식,Q12,커피점/카페,Q12A01,커피전문점/카페/다방,I56220,...,1165010300106860000000001,삼성프라자1,서울특별시 서초구 성촌1길 26,137901,6765.0,NaN,2,NaN,127.021354,37.465397
330823,9093595,김밥,NaN,Q,음식,Q04,분식,Q04A01,라면김밥분식,I56194,...,1171010800104090003000001,가든파이브툴,서울특별시 송파구 충민로 10,138200,5840.0,NaN,1,NaN,127.119371,37.478261
330824,9099241,더페이스샵아차산역점,아차산역점,D,소매,D16,화장품소매,D16A01,화장품판매점,G47813,...,1121510200102400029005869,아성빌라트,서울특별시 광진구 능동로32길 82-58,143849,4988.0,NaN,1,NaN,127.082117,37.552990
330825,9160309,CU자곡현대점,자곡현대점,D,소매,D03,종합소매점,D03A01,편의점,G47122,...,1168011200103950004000001,강남유탑유블레스,서울특별시 강남구 자곡로 180,135200,6373.0,NaN,1,NaN,127.103347,37.473707
330826,9173533,EYAGI2,NaN,Q,음식,Q01,한식,Q01A01,한식/백반/한정식,I56111,...,1165010300106860000000001,삼성프라자1,서울특별시 서초구 성촌1길 26,137901,6765.0,NaN,1,NaN,127.021354,37.465397

In [44]:
file_names=glob('../data/소상공인/*.csv')
total_df=pd.DataFrame()
for file_name in file_names:
    temp_df=pd.read_csv(file_name)
    total_df=pd.concat([total_df, temp_df])

total_df=total_df.reset_index(drop=True)

C:\Users\jpc10\AppData\Local\Temp\ipykernel_25380\3975094020.py:4: DtypeWarning: Columns (35) have mixed types. Specify dtype option on import or set low_memory=False.
  temp_df=pd.read_csv(file_name)
C:\Users\jpc10\AppData\Local\Temp\ipykernel_25380\3975094020.py:4: DtypeWarning: Columns (35) have mixed types. Specify dtype option on import or set low_memory=False.
  temp_df=pd.read_csv(file_name)
C:\Users\jpc10\AppData\Local\Temp\ipykernel_25380\3975094020.py:4: DtypeWarning: Columns (35) have mixed types. Specify dtype option on import or set low_memory=False.
  temp_df=pd.read_csv(file_name)
C:\Users\jpc10\AppData\Local\Temp\ipykernel_25380\3975094020.py:4: DtypeWarning: Columns (35) have mixed types. Specify dtype option on import or set low_memory=False.
  temp_df=pd.read_csv(file_name)
C:\Users\jpc10\AppData\Local\Temp\ipykernel_25380\3975094020.py:4: DtypeWarning: Columns (35) have mixed types. Specify dtype option on import or set low_memory=False.
  temp_df=pd.read_csv(file_name)
C:\Users\jpc10\AppData\Local\Temp\ipykernel_25380\3975094020.py:4: DtypeWarning: Columns (35) have mixed types. Specify dtype option on import or set low_memory=False.
  temp_df=pd.read_csv(file_name)
C:\Users\jpc10\AppData\Local\Temp\ipykernel_25380\3975094020.py:4: DtypeWarning: Columns (35) have mixed types. Specify dtype option on import or set low_memory=False.
  temp_df=pd.read_csv(file_name)
C:\Users\jpc10\AppData\Local\Temp\ipykernel_25380\3975094020.py:4: DtypeWarning: Columns (35) have mixed types. Specify dtype option on import or set low_memory=False.
  temp_df=pd.read_csv(file_name)
C:\Users\jpc10\AppData\Local\Temp\ipykernel_25380\3975094020.py:4: DtypeWarning: Columns (35) have mixed types. Specify dtype option on import or set low_memory=False.
  temp_df=pd.read_csv(file_name)
C:\Users\jpc10\AppData\Local\Temp\ipykernel_25380\3975094020.py:4: DtypeWarning: Columns (35) have mixed types. Specify dtype option on import or set low_memory=False.
  temp_df=pd.read_csv(file_name)

In [45]:
total_df.columns

Index(['상가업소번호', '상호명', '지점명', '상권업종대분류코드', '상권업종대분류명', '상권업종중분류코드',
       '상권업종중분류명', '상권업종소분류코드', '상권업종소분류명', '표준산업분류코드', '표준산업분류명', '시도코드',
       '시도명', '시군구코드', '시군구명', '행정동코드', '행정동명', '법정동코드', '법정동명', '지번코드',
       '대지구분코드', '대지구분명', '지번본번지', '지번부번지', '지번주소', '도로명코드', '도로명', '건물본번지',
       '건물부번지', '건물관리번호', '건물명', '도로명주소', '구우편번호', '신우편번호', '동정보', '층정보',
       '호정보', '경도', '위도'],
      dtype='object')

In [46]:
total_df.head(10)

,상가업소번호,상호명,지점명,상권업종대분류코드,상권업종대분류명,상권업종중분류코드,상권업종중분류명,상권업종소분류코드,상권업종소분류명,표준산업분류코드,...,건물관리번호,건물명,도로명주소,구우편번호,신우편번호,동정보,층정보,호정보,경도,위도
0,25033300,동그라미중고타이어,NaN,D,소매,D23,자동차/자동차용품,D23A04,타이어판매,G45211,...,4215011100110960006010791,NaN,강원도 강릉시 가작로 270,210110.0,25488.0,1,NaN,NaN,128.904472,37.770252
1,17174549,세인트존스호텔Ohcrab,NaN,O,숙박,O01,호텔/콘도,O01A01,호텔/콘도,NaN,...,4215011300100010001017124,세인트존스호텔,강원도 강릉시 창해로 307,210120.0,25467.0,NaN,NaN,NaN,128.920908,37.791299
2,17174079,평창라마다호텔,NaN,O,숙박,O01,호텔/콘도,O01A01,호텔/콘도,NaN,...,4276038024102450036000001,NaN,강원도 평창군 대관령면 오목길 107,232954.0,25342.0,NaN,NaN,NaN,128.717971,37.660051
3,17173904,호텔탑스텐스카이라운지,NaN,O,숙박,O01,호텔/콘도,O01A01,호텔/콘도,NaN,...,4215035029100920001000002,NaN,강원도 강릉시 옥계면 헌화로 455-34,210831.0,25633.0,NaN,NaN,NaN,129.052902,37.654680
4,24412526,레이디가구,NaN,D,소매,D15,가구소매,D15A01,일반가구소매,G47520,...,4213011500111400020035715,NaN,강원도 원주시 송삼길 156-19,220150.0,26385.0,NaN,NaN,NaN,127.917307,37.327668
5,24611751,멜로디피아노교습소,NaN,R,학문/교육,R09,학원기타,R09A01,학원(종합),P85501,...,4223011800100780005000001,현대그린마트,강원도 삼척시 오십천로 301-11,245943.0,25918.0,NaN,NaN,NaN,129.152136,37.439478
6,17174157,치킨플러스원주기업도시점,원주기업도시점,Q,음식,Q09,유흥주점,Q09A01,호프/맥주,I56219,...,4213033023114930000000001,원주기업도시라온프라이빗,강원도 원주시 지정면 가곡로 132,220821.0,26352.0,NaN,NaN,NaN,127.873974,37.383057
7,17174566,307포차,NaN,Q,음식,Q09,유흥주점,Q09A07,기타일반유흥주점,I56211,...,4215011300100010001017124,세인트존스호텔,강원도 강릉시 창해로 307,210120.0,25467.0,NaN,NaN,NaN,128.920908,37.791299
8,21651344,영진보일러,NaN,D,소매,D21,철물/난방/건설자재소매,D21A02,보일러/냉난방용품,G47511,...,4277025622102840011006020,NaN,강원도 정선군 사북읍 범바위길 20,233901.0,26150.0,NaN,NaN,NaN,128.830461,37.227626
9,21651627,금강샷시유리공사,NaN,D,소매,D21,철물/난방/건설자재소매,D21A08,셔터/새시판매,G47511,...,4275025021109590027017103,NaN,강원도 영월군 영월읍 단종로 21,230805.0,26233.0,NaN,1,NaN,128.467925,37.185359

In [47]:
total_df.상권업종소분류명.unique()
total_df.columns # 상권업종중분류명, 상호명, 시도명

Index(['상가업소번호', '상호명', '지점명', '상권업종대분류코드', '상권업종대분류명', '상권업종중분류코드',
       '상권업종중분류명', '상권업종소분류코드', '상권업종소분류명', '표준산업분류코드', '표준산업분류명', '시도코드',
       '시도명', '시군구코드', '시군구명', '행정동코드', '행정동명', '법정동코드', '법정동명', '지번코드',
       '대지구분코드', '대지구분명', '지번본번지', '지번부번지', '지번주소', '도로명코드', '도로명', '건물본번지',
       '건물부번지', '건물관리번호', '건물명', '도로명주소', '구우편번호', '신우편번호', '동정보', '층정보',
       '호정보', '경도', '위도'],
      dtype='object')

In [48]:
total_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2279879 entries, 0 to 2279878
Data columns (total 39 columns):
 #   Column     Dtype
---  ------     -----
 0   상가업소번호     int64
 1   상호명        object
 2   지점명        object
 3   상권업종대분류코드  object
 4   상권업종대분류명   object
 5   상권업종중분류코드  object
 6   상권업종중분류명   object
 7   상권업종소분류코드  object
 8   상권업종소분류명   object
 9   표준산업분류코드   object
 10  표준산업분류명    object
 11  시도코드       int64
 12  시도명        object
 13  시군구코드      int64
 14  시군구명       object
 15  행정동코드      int64
 16  행정동명       object
 17  법정동코드      float64
 18  법정동명       object
 19  지번코드       int64
 20  대지구분코드     int64
 21  대지구분명      object
 22  지번본번지      int64
 23  지번부번지      float64
 24  지번주소       object
 25  도로명코드      int64
 26  도로명        object
 27  건물본번지      int64
 28  건물부번지      float64
 29  건물관리번호     object
 30  건물명        object
 31  도로명주소      object
 32  구우편번호      float64
 33  신우편번호      float64
 34  동정보        object
 35  층정보        object
 36  호정보        float64
 37  경도         float64
 38  위도         float64
dtypes: float64(8), int64(9), object(22)
memory usage: 678.4+ MB

In [49]:
coffee_df=total_df[["상권업종중분류명", "상호명", '시도명']]
coffee_df

          상권업종중분류명            상호명   시도명
0        자동차/자동차용품      동그라미중고타이어   강원도
1            호텔/콘도  세인트존스호텔Ohcrab   강원도
2            호텔/콘도        평창라마다호텔   강원도
3            호텔/콘도    호텔탑스텐스카이라운지   강원도
4             가구소매          레이디가구   강원도
...            ...            ...   ...
2279874    건강/미용식품          송학건강원  충청북도
2279875   세탁/가사서비스          건영세탁소  충청북도
2279876    주유소/충전소     GS칼텍스직영금성점  충청북도
2279877    이/미용/건강          장미이발관  충청북도
2279878     커피점/카페           별빛다락  충청북도

[2279879 rows x 3 columns]

In [50]:
temp_df

,상가업소번호,상호명,지점명,상권업종대분류코드,상권업종대분류명,상권업종중분류코드,상권업종중분류명,상권업종소분류코드,상권업종소분류명,표준산업분류코드,...,건물관리번호,건물명,도로명주소,구우편번호,신우편번호,동정보,층정보,호정보,경도,위도
0,23971869,청담어학원,청주가경캠퍼스점,R,학문/교육,R04,학원-어학,R04A01,학원-외국어/어학,P85502,...,4311311100107000000024027,대상마스터빌딩,충청북도 청주시 서원구 복대로 7,362805,28612.0,NaN,7,NaN,127.446061,36.617928
1,20602380,신도다실,NaN,Q,음식,Q12,커피점/카페,Q12A01,커피전문점/카페/다방,I56220,...,4311110800100250006048924,NaN,충청북도 청주시 상당구 대성로 38,360050,28716.0,NaN,NaN,NaN,127.493371,36.628602
2,21968791,원주양행,NaN,D,소매,D06,가방/신발/액세서리,D06A07,양품점,G47419,...,4313011500100040014015525,NaN,충청북도 충주시 무학4길 5,380959,27405.0,NaN,1,NaN,127.927238,36.974111
3,20552215,유기농팔도,NaN,D,소매,D01,음/식료품소매,D01A08,유기농식품판매,G47219,...,4374034028101280000002104,대양영농조합법인,충청북도 영동군 매곡면 괘방령로 674-52,370871,29122.0,NaN,NaN,NaN,127.980293,36.152695
4,24206905,D.C.열쇠,NaN,D,소매,D07,가정/주방/인테리어,D07A15,유리/페인트/철물건축자재,G47519,...,4311310900103500000018517,주공3단지아파트,충청북도 청주시 서원구 매봉로 64,362150,28694.0,306,NaN,NaN,127.478662,36.616083
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89496,8788862,송학건강원,NaN,D,소매,D10,건강/미용식품,D10A07,건강원,G47216,...,4315038021102220012000001,NaN,충청북도 제천시 송학면 무도2길 2,390811,27126.0,NaN,NaN,NaN,128.263464,37.183593
89497,8806881,건영세탁소,NaN,F,생활서비스,F02,세탁/가사서비스,F02A01,세탁소/빨래방,S96912,...,4311112400120990000053512,건영아파트,충청북도 청주시 상당구 중흥로 71,360770,28773.0,NaN,1,NaN,127.502906,36.611555
89498,9002993,GS칼텍스직영금성점,직영금성점,F,생활서비스,F16,주유소/충전소,F16A01,주유소,G47711,...,4311311500107540000004909,NaN,충청북도 청주시 흥덕구 1순환로 561,361300,28557.0,NaN,1,NaN,127.462580,36.642724
89499,9072345,장미이발관,NaN,F,생활서비스,F01,이/미용/건강,F01A04,남성미용실,S96111,...,4375037027102490020011432,삼성공인중개사,충청북도 진천군 광혜원면 진광로 1535-10,365832,27805.0,NaN,1,NaN,127.445470,36.990781
89500,9181103,별빛다락,NaN,Q,음식,Q12,커피점/카페,Q12A01,커피전문점/카페/다방,I56220,...,4315011100100640041000001,NaN,충청북도 제천시 용두대로15가길 21,390240,27162.0,NaN,1,NaN,128.199955,37.141310

In [51]:
df_coffee=temp_df.loc[temp_df.상권업종중분류명=="커피점/카페", :].reset_index(drop=True)

del temp_df
print("전국 커피 전문점 점포 수 :", len(df_coffee))
df_coffee

전국 커피 전문점 점포 수 : 3524

,상가업소번호,상호명,지점명,상권업종대분류코드,상권업종대분류명,상권업종중분류코드,상권업종중분류명,상권업종소분류코드,상권업종소분류명,표준산업분류코드,...,건물관리번호,건물명,도로명주소,구우편번호,신우편번호,동정보,층정보,호정보,경도,위도
0,20602380,신도다실,NaN,Q,음식,Q12,커피점/카페,Q12A01,커피전문점/카페/다방,I56220,...,4311110800100250006048924,NaN,충청북도 청주시 상당구 대성로 38,360050,28716.0,NaN,NaN,NaN,127.493371,36.628602
1,15569568,킴다방,NaN,Q,음식,Q12,커피점/카페,Q12A01,커피전문점/카페/다방,I56220,...,4311311000104510000023898,성화동POWER프라자빌딩,충청북도 청주시 서원구 신화로 38,362230,28637.0,NaN,NaN,NaN,127.455596,36.618107
2,23467889,Cafe4B스케치,NaN,Q,음식,Q12,커피점/카페,Q12A01,커피전문점/카페/다방,I56220,...,4311311500120360000014956,NaN,충청북도 청주시 흥덕구 백봉로220번길 19,361300,28449.0,NaN,1,NaN,127.459891,36.648227
3,20499049,커피올,NaN,Q,음식,Q12,커피점/카페,Q12A01,커피전문점/카페/다방,I56220,...,4311111900101250010000001,NaN,충청북도 청주시 상당구 단재로 110-3,360090,28713.0,NaN,1,NaN,127.496842,36.619253
4,22831290,공차,현대백화점충청점,Q,음식,Q12,커피점/카페,Q12A01,커피전문점/카페/다방,I56220,...,4311311400105840009000001,현대백화점,충청북도 청주시 흥덕구 직지대로 308,361270,28424.0,NaN,6,NaN,127.426554,36.644863
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3519,25591809,칼디앤커피나무,NaN,Q,음식,Q12,커피점/카페,Q12A01,커피전문점/카페/다방,I56220,...,4311310800101620000000001,NaN,충청북도 청주시 서원구 1순환로 1090,362855,28802.0,NaN,1,NaN,127.487606,36.605920
3520,25600486,라미커피,NaN,Q,음식,Q12,커피점/카페,Q12A01,커피전문점/카페/다방,I56220,...,4311310600112480000023518,NaN,충청북도 청주시 서원구 산미로 146,362160,28635.0,NaN,1,NaN,127.476073,36.608916
3521,25884322,드롭탑청주다나여성병원점,청주다나여성병원점,Q,음식,Q12,커피점/카페,Q12A01,커피전문점/카페/다방,I56220,...,4311113200101710003000001,NaN,충청북도 청주시 청원구 충청대로 175,363568,28325.0,NaN,5,NaN,127.495750,36.671834
3522,26448354,커피와사람들,NaN,Q,음식,Q12,커피점/카페,Q12A01,커피전문점/카페/다방,I56220,...,4311112400120960000053454,용암3차현대아파트,충청북도 청주시 상당구 중흥로 70-1,360736,28774.0,303,1,NaN,127.504643,36.610976
3523,9181103,별빛다락,NaN,Q,음식,Q12,커피점/카페,Q12A01,커피전문점/카페/다방,I56220,...,4315011100100640041000001,NaN,충청북도 제천시 용두대로15가길 21,390240,27162.0,NaN,1,NaN,128.199955,37.141310

In [52]:
df_seoul_coffee=df_coffee.loc[df_coffee.시도명=="서울특별시", :]
df_seoul_coffee.index=range(len(df_seoul_coffee))
print('서울시 내 커피 전문점 점포 수 :', len(df_seoul_coffee))
df_seoul_coffee.head(

)

서울시 내 커피 전문점 점포 수 : 0

Empty DataFrame
Columns: [상가업소번호, 상호명, 지점명, 상권업종대분류코드, 상권업종대분류명, 상권업종중분류코드, 상권업종중분류명, 상권업종소분류코드, 상권업종소분류명, 표준산업분류코드, 표준산업분류명, 시도코드, 시도명, 시군구코드, 시군구명, 행정동코드, 행정동명, 법정동코드, 법정동명, 지번코드, 대지구분코드, 대지구분명, 지번본번지, 지번부번지, 지번주소, 도로명코드, 도로명, 건물본번지, 건물부번지, 건물관리번호, 건물명, 도로명주소, 구우편번호, 신우편번호, 동정보, 층정보, 호정보, 경도, 위도]
Index: []

[0 rows x 39 columns]

In [53]:
df_coffee.상호명.unique()[:100]

array(['신도다실', '킴다방', 'Cafe4B스케치', '커피올', '공차', '한일다방', '셀리나', '향수다방',
       '예촌카페', '어투썸플레이스', '별빛고운언덕팬션까폐', '영화플라워앤카페', '커피갤러리', '고추다방',
       '신선다방', '청자다방', '중앙다방', '미연다방', '수나다방', '카페디딤', '스타벅스청주성화점',
       '향미다방', '카페노리터충북대후문점', '보떼리아', '미스터커피', '산골쉼터', '마이커피', '카페케빈',
       '빈스커피', '캡쳐커피', '캠브리지멤버스', '곰다방', 'RFC', 'CAFE203mini', '교차로다방',
       '흙다실', '카페피노', '디온', '라비타', '할리스커피충북진천점', '연다방', '클렌첸카페', '갤러리카페',
       '소정', '용다방', '날마다좋은날', '엔제리너스충북대점', '수선화', '카와올라', '크레이저커피',
       '가베시광', '쉘터462', '코람데오', '이디야커피', '민들레', '스타벅스', '카페오감', '명다방',
       '엔제리너스단양휴게소하점', '돈다방', '우리다방', '카페페이지', '커피333', '송다실', '투썸플레이스',
       '뉴욕핫도그앤커피', '카페콩', '그림의집', '띠아모음성금왕점', '정다방', '천등다방', '영다방',
       '스테이270', '엔제리너스', '베베카페', '우정다실', '들꽃풍경', '오드리헵번카페율량점', '대산카페',
       '카페더블샷', '리버힐스카페', '다사면예술촌북카페', '은정다방', '테이블1101', '블레싱커피', '뉴셀',
       '커피가있는풍경', '수마카롱', '디에떼에스프레소', '루틴759', 'VEROESPRESSO', '카페정모,정모',
       '카페꼬레', '생클레어', '감곡베네치아', '팔공티', '엠브이피커피로스터스', '고울연',
       '대청산업개발괴산양평휴게소엔제리너스', '꿈드래커피전문점'], dtype=object)

In [55]:
df_starbucks=df_coffee[df_coffee.상호명.str.contains("스타벅스")]
df_starbucks.index=range(len(df_starbucks))
print('전국 스타벅스 점포 수: ', len(df_starbucks))
df_starbucks.head(5)

전국 스타벅스 점포 수:  30

,상가업소번호,상호명,지점명,상권업종대분류코드,상권업종대분류명,상권업종중분류코드,상권업종중분류명,상권업종소분류코드,상권업종소분류명,표준산업분류코드,...,건물관리번호,건물명,도로명주소,구우편번호,신우편번호,동정보,층정보,호정보,경도,위도
0,28524341,스타벅스청주성화점,청주성화점,Q,음식,Q12,커피점/카페,Q12A01,커피전문점/카페/다방,I56220,...,4311210900107020000000001,NaN,충청북도 청주시 서원구 복대로 5,362805,28612.0,NaN,1,NaN,127.446063,36.617631
1,23277692,스타벅스,청주강서점,Q,음식,Q12,커피점/카페,Q12A01,커피전문점/카페/다방,I56220,...,4311311700104780000000001,NaN,충청북도 청주시 흥덕구 강서로 121,361872,28377.0,NaN,1,NaN,127.429617,36.625385
2,12423113,스타벅스오창호수공원점,오창호수공원점,Q,음식,Q12,커피점/카페,Q12A01,커피전문점/카페/다방,I56220,...,4311425345108200002000001,NaN,충청북도 청주시 청원구 오창읍 중심상업1로 20,363883,28120.0,NaN,1,NaN,127.427720,36.712477
3,25716616,스타벅스청주지웰시티점,청주지웰시티점,Q,음식,Q12,커피점/카페,Q12A01,커피전문점/카페/다방,I56220,...,4311311400105840001053436,지웰시티1차아파트,충청북도 청주시 흥덕구 대농로 17,361876,28424.0,NaN,1,NaN,127.425105,36.642738
4,20381764,스타벅스청주서문점,청주서문점,Q,음식,Q12,커피점/카페,Q12A01,커피전문점/카페/다방,I56220,...,4311110900101500002047704,(주)고려인삼한백식품,충청북도 청주시 상당구 무심동로392번길 20,360130,28528.0,NaN,1,NaN,127.486002,36.635347

In [55]:
df_seoul_starbucks=df_starbucks.loc[df_starbucks]