In [2]:
import numpy as np
import pandas as pd

In [6]:
df=pd.DataFrame (data=np.arange(1, 49).reshape(12,4), index=np.arange(12),columns=["X1","X2", "X3", "X4"] )
df

    X1  X2  X3  X4
0    1   2   3   4
1    5   6   7   8
2    9  10  11  12
3   13  14  15  16
4   17  18  19  20
5   21  22  23  24
6   25  26  27  28
7   29  30  31  32
8   33  34  35  36
9   37  38  39  40
10  41  42  43  44
11  45  46  47  48

In [7]:
df["X2"]

0      2
1      6
2     10
3     14
4     18
5     22
6     26
7     30
8     34
9     38
10    42
11    46
Name: X2, dtype: int32

In [8]:
df["X1"]+2

0      3
1      7
2     11
3     15
4     19
5     23
6     27
7     31
8     35
9     39
10    43
11    47
Name: X1, dtype: int32

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12 entries, 0 to 11
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   X1      12 non-null     int32
 1   X2      12 non-null     int32
 2   X3      12 non-null     int32
 3   X4      12 non-null     int32
dtypes: int32(4)
memory usage: 288.0 bytes

In [10]:
df.describe()

              X1         X2         X3         X4
count  12.000000  12.000000  12.000000  12.000000
mean   23.000000  24.000000  25.000000  26.000000
std    14.422205  14.422205  14.422205  14.422205
min     1.000000   2.000000   3.000000   4.000000
25%    12.000000  13.000000  14.000000  15.000000
50%    23.000000  24.000000  25.000000  26.000000
75%    34.000000  35.000000  36.000000  37.000000
max    45.000000  46.000000  47.000000  48.000000

In [12]:
df.sort_values(by="X2", ascending=False)

    X1  X2  X3  X4
11  45  46  47  48
10  41  42  43  44
9   37  38  39  40
8   33  34  35  36
7   29  30  31  32
6   25  26  27  28
5   21  22  23  24
4   17  18  19  20
3   13  14  15  16
2    9  10  11  12
1    5   6   7   8
0    1   2   3   4

In [14]:
df.X1

0      1
1      5
2      9
3     13
4     17
5     21
6     25
7     29
8     33
9     37
10    41
11    45
Name: X1, dtype: int32

In [16]:
df[:3]

   X1  X2  X3  X4
0   1   2   3   4
1   5   6   7   8
2   9  10  11  12

In [17]:
df.index[0]

0

In [20]:
df.loc[7]

X1    29
X2    30
X3    31
X4    32
Name: 7, dtype: int32

In [22]:
df.loc[4,"X2"]

18

In [23]:
df.loc[9,"X4"]

40

In [24]:
df.loc[3:5,["X1","X2"]]

   X1  X2
3  13  14
4  17  18
5  21  22

In [25]:
df["X3"]==0

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
Name: X3, dtype: bool

In [26]:
df[df["X3"]>20]

    X1  X2  X3  X4
5   21  22  23  24
6   25  26  27  28
7   29  30  31  32
8   33  34  35  36
9   37  38  39  40
10  41  42  43  44
11  45  46  47  48

In [28]:
df[df["X3"]%3==0]

   X1  X2  X3  X4
0   1   2   3   4
3  13  14  15  16
6  25  26  27  28
9  37  38  39  40

In [29]:
df.iloc[0]

X1    1
X2    2
X3    3
X4    4
Name: 0, dtype: int32

In [30]:
df

    X1  X2  X3  X4
0    1   2   3   4
1    5   6   7   8
2    9  10  11  12
3   13  14  15  16
4   17  18  19  20
5   21  22  23  24
6   25  26  27  28
7   29  30  31  32
8   33  34  35  36
9   37  38  39  40
10  41  42  43  44
11  45  46  47  48